<div class="container mt-4 w-50 " >
 
  <div class="card bg-secondary">
          <h1 class="text-center text-primary">Employee Registration</h1>
   
  <form class="">
      <div class="form-group m-5 form-floating">
        <!-- <label class="">Name</label> -->
        <input type="text" [(ngModel)]="customername" [ngModelOptions]="{standalone: true}"  class="form-control" id="floatingInput" placeholder="Enter Name">
        <label for="floatingInput">Enter your Name in small words</label>
   
      </div>
   
      <div class="form-group m-5 form-floating">
          <!-- <label>address</label> -->
          <input type="text" [(ngModel)]="customeraddress" [ngModelOptions]="{standalone: true}"  class="form-control" id="floatingInput" placeholder="Enter address">
          <label for="floatingInput">Enter your Address</label>
    
        </div>
   
        <div class="form-group m-5 form-floating">
          <!-- <label>Mobile</label> -->
          <input type="text" [(ngModel)]="mobile" [ngModelOptions]="{standalone: true}" class="form-control" id="floatingInput" placeholder="Enter Mobile">
          <label for="floatingInput">Enter your Phone Number</label>
    
        </div>
      <div class="text-center">
        <button type="submit" class="btn btn-success  mb-2" (click)="save()">Submit</button>
      </div>
      
    </form>
  </div>
  <div>
   
   
      <div class="container mt-4" >
   
          <h1 class="text-center">Employee Table</h1>
   
   
   
   
      <table class="table">
          <thead>
           <h1 *ngIf="!isResultLoaded">Loading.................</h1>
          
          <tr>
              <th scope="col">ID</th>
              <th scope="col">Name</th>
              <th scope="col">Address</th>
              <th scope="col">Mobile</th>
              <th scope="col">Option</th>
            </tr>
          </thead>
          <tbody>
              <tr *ngFor="let CustomerItem of CustomerArray">
   
              <th scope="row">{{CustomerItem.customerid  }}</th>
              <td>{{CustomerItem.customername  | uppercase}}</td>
              <td>{{CustomerItem.customeraddress }}</td>
              <td>{{CustomerItem.mobile }}</td>
   
              <td>
                <button type="button" class="btn btn-success me-2" (click)="setUpdate(CustomerItem)">Edit</button>
                
                <button type="button" class="btn btn-danger" (click)="setDelete(CustomerItem)">Delete</button>
              
              </td>
            </tr>
            
          </tbody>
        </table>
   
   
      </div>